# migration file directory
export DBMATE_MIGRATIONS_DIR=./assets/db/migrations

# a path to keep the schema.sql file
export DBMATE_SCHEMA_FILE=./assets/db/schema.sql

 # database url
export DATABASE_URL=mysql://user:password@127.0.0.1:3306/db
